tqdm
scipy
opencv-python
pyarrow
pandas
tensorboard
transformers
bitsandbytes
transparent_background
einops
matplotlib
einops
onnxruntime-gpu
sentencepiece
peft==0.17.0
tokenizers==0.21.0
loguru==0.7.2
protobuf==3.20.2
pydantic==1.10.9
Pillow==9.4.0
accelerate==1.1.1
deepspeed==0.16.1
scikit-image==0.22.0
moviepy==1.0.3
flash_attn==2.7.3
smplx
pytorch_lightning
yacs
pyrender
webdataset
pyopengl==3.1.5
git+https://github.com/victor-thu/chumpy.git
git+https://github.com/IDEA-Research/GroundingDINO.git@main#egg=GroundingDINO
torch==2.5.1
torchvision==0.20.1
opencv-python>=4.9.0.80
transformers>=4.49.0
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
gradio>=5.0.0
numpy==1.26
bitsandbytes==0.45.2
git+https://github.com/huggingface/diffusers